<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Bill Calculator</title>
</head>
<body>
<div class="container mt-5 mb-5" style="width: 60%;">
    <div th:insert = "nav-bar  :: nav-bar" style="margin-bottom : 20px;" ></div>
    <form th:attr = "action = @{/createBill}" method="POST">
        <div class="col">
            <label  class="form-label">Floor</label>
            <select  name = "floor" class="form-select">
                <option th:each="floor : ${floors}" th:value="${floor}" th:text="${floor}"  ></option>
            </select>
        </div>
        <div class="mb-3 row">
            <div class="col">
                <label  class="form-label">Rent Month</label>
                <select disabled name = "month" class="form-select mySelect">
                    <option th:each="month : ${months}" th:value="${month}" th:text="${month}" th:selected="${month == rentMonth}" ></option>
                </select>
                <input type="hidden" name="month" th:value="${rentMonth}" />
            </div>
            <div class="col">
                <label class="form-label">Rent Year</label>
                <select disabled name="year" class="form-select mySelect">
                    <option th:each="year : ${years}" th:value="${year}" th:text="${year}" th:selected="${year == prevYear}" ></option>
                </select>
                <input type="hidden" name="year" th:value="${prevYear}" />
            </div>

            <div class="col">
                <label class="form-label">Change Month and Year</label><br>
                <button type="button " onclick="return enableSelect()" class="btn btn-primary">Change</button>
            </div>

        </div>
        <div class="mb-3 row">
            <div class="col">
                <label class="form-label">Current Room Units</label>
                <input type="text"  class="form-control" name="currentRoomUnits">
            </div>
            <div class="col">
                <label class="form-label">Current Bor Units</label>
                <input type="text" class="form-control"  name="currentBorUnits">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Rs./Unit</label>
            <select name="rsPerUnit" class="form-select" >
                <option value ="7">7</option>
                <option selected value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script>
  function enableSelect() {
    var selectElements = document.getElementsByClassName("mySelect");
    for (var i = 0; i < selectElements.length; i++) {
      selectElements[i].disabled = false;
    }
    return false;
  }
</script>
    <div th:if="${bill}" th:insert = "bill  :: bill"  ></div>
    <div th:if="${exception}">
        <h5 th:text="${exception}"> Exception Occurred</h5>
    </div>
    </div>
</body>
</html>

